#!/usr/bin/make -f

# Set this variable to yes for release builds to disable debugging and enable
# optimizations.
KODI_RELEASE = yes

# List of standard options to pass to configure.
# Extra options can simply be passed using KODI_CONFIG_EXTRA_OPTIONS
KODI_CONFIG_OPTIONS = \
  --enable-vdpau \
  --enable-vaapi \
  --disable-vtbdecoder \
  --disable-openmax \
  --disable-tegra \
  --disable-profiling \
  --enable-joystick \
  --enable-xrandr \
  --disable-ccache \
  --enable-pulse \
  --enable-rtmp \
  --disable-mid \
  --enable-avahi \
  --disable-asap-codec \
  --enable-webserver \
  --enable-optical-drive \
  --enable-texturepacker \
  --enable-nfs \
  --enable-libcec \
  --enable-afpclient \
  --enable-airtunes \
  --enable-libbluray

# select GL provider
# On arm use OpenGL-ES
# else default to OpenGL
ifeq (arm,$(shell dpkg-architecture -qDEB_HOST_ARCH_CPU))
  KODI_CONFIG_OPTIONS += --disable-gl --enable-gles
else
  KODI_CONFIG_OPTIONS += --enable-gl --disable-gles
endif

# release / debug build
ifeq (yes,$(KODI_RELEASE))
  KODI_CONFIG_OPTIONS += --disable-debug --enable-optimizations
else
  KODI_CONFIG_OPTIONS += --enable-debug --disable-optimizations
endif

# target-specific options
KODI_CONFIG_EXTRA_OPTIONS = --enable-codec=imxvpu

# mDNSresponder not found
KODI_CONFIG_EXTRA_OPTIONS += --disable-mdnsembedded

# sourcesdir for OBS builds
SOURCESDIRS = /usr/src/packages/SOURCES/ ~/

%:
	dh $@ --parallel

override_dh_clean:
	dh_clean
	find . -name config.status -o -name config.cache -o -name config.log -delete
	find tools/depends/target -iname "*.tar.gz" -delete

override_dh_auto_configure: 
	./bootstrap
	find $(SOURCESDIRS) -maxdepth 1 -name ffmpeg-2.6.0-fix-Isengard-alpha.tar.gz -exec cp -v {} ./tools/depends/target/ffmpeg/ \; -quit || true
	dh_auto_configure -- $(KODI_CONFIG_EXTRA_OPTIONS) $(KODI_CONFIG_EXTRA_OPTIONS)

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	$(MAKE) eventclients DESTDIR=$(CURDIR)/debian/tmp \
		WII_EXTRA_OPTS=-DCWIID_OLD

override_dh_install:
	dh_install --sourcedir=$(CURDIR)/debian/tmp -XLICENCE \
		-XLicence.txt -XLicense.txt -XLiberationSans-Regular.ttf \
		-XDejaVuSans.ttf -XDejaVuSans-Bold.ttf
	# Delete license file from package
	rm -f debian/kodi/usr/share/kodi/addons/script.recentlyadded/LICENSE.txt

override_dh_makeshlibs:
	# We don't install shared libraries in standard locations so don't run
	# dh_makeshlibs

override_dh_auto_test:
	# Do not run unittests, as they fail
